<form action="" class="row" (ngSubmit)="emitCharacter()">
  <h4>Agregar Personaje</h4>

  <input type="text" [(ngModel)]="character.name" name="name" id="" class="form-control mb-2" placeholder="Nombre">
  <input type="number" [(ngModel)]="character.power"  name="power" id="" class="form-control mb-2" placeholder="Poder">

  <button type="submit" class="btn btn-primary" (click)="emitCharacter()">Agregar</button>

  <!-- <pre>{{ character | json }}</pre> Para que veamos la información del objeto -->
</form>

